


ul, ol {
	list-style: none;
}

.nav li a{
	border: 1px solid #000000;
	background-color: #162CCC;
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
}

.nav li a:hover {
	background-color: #168CCC;
}

.nav > li{
	float: right;
}

.nav li ul{
	display:none;
	position: absolute;
	min-width: 130px;
}

.nav li:hover > ul {
	display: block;
}

.nav li ul li{
	position: relative;
}

.nav li ul li ul{
	right: 142px;
	top: 0px;
}